body{
    background-image: linear-gradient(rgb(32, 37, 59), rgb(24, 23, 59));
    font-family: 'poppins';
}

.container{
    background-color: rgba(50, 50, 91, 0.952);
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 200px;
    border-radius: 10px;
    padding-left: 10px;
}
.baliz{
    display: flex;
    gap: 40px;
    margin-right: 20px;
    color: white;
}
.title{
    color: white;
}
.baliz i{
    font-size: 30px;
}
.balizInput{
    width: 95%;
    display: flex;
    justify-content: flex-end;
}
#inputSearch{
    padding: 30px 0;
    color: white;
    width: 40%;
    margin-top: 30px;
    outline: none;
    background-color: rgb(56, 64, 102);
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
}
::placeholder{
    color: white;
}
.caontainer{
    width:100%;
    border-radius: 10px;
    background-color: rgb(50, 50, 91);
    color: white;
    padding: 5px;
    cursor: pointer;
}
.caontainer:hover{
    transform: translateY(-2px);
    transition: 0.5s;
     box-shadow: 0 0 10px rgb(150, 149, 149);
     border: solid 2px rgb(5, 219, 247);
}
.title p{
    font-size: 15px;
}
button{
    border-radius: 10px;
    border: none;
    outline: none;
}
.icons_container i{
    color: rgb(4, 4, 4);
}
.icons_container{
    width: 97%;
}
.user{
    background-color: rgb(19, 19, 19);
    padding: 20px;
    border-radius: 50%;
    margin-top: -20px;
}
.content{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    gap: 20px;
    padding-left: 10px;
}
@media(max-width : 600px){
   .content{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin-inline: auto;
    padding-left: 0;
   }
   #inputSearch{
    width: 90%;
   }
}
.green {
    background-color: green;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.buttons{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.buttons button{
    padding: 10px 20px;
    background-color: rgb(82, 82, 151);
    color: white;
}
.buttons button:hover{
    border: solid 1px rgb(7, 212, 243);
}

.status{
  padding:6px 12px;
  border:none;
  border-radius:6px;
  color:white;
  font-size:14px;
}

/* On Going */
.On_Going{
  background-color:#09eb3e;
}

/* Upcoming */
.Upcoming{
  background-color:#ff7300;
}

/* Completed */
.Pending{
  background-color:#ef0808;
}
.image{
    width: 40px;
}
.source{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}
.source h2{
    font-size: 20px;
}
@media(max-width : 600px){
    .buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
}
}
.Father{
    display: flex;
    width: 100%;
}
.details{
    border: solid ;
    height: fit-content;
    border-radius: 10px;
    margin-inline: auto;
    width: 40%;
    display: flex;
    justify-content: center;
}
.details_buttons{
    margin: auto;
     background-color: rgb(13, 13, 38);
    display: flex;
    border-radius: 10px;
    gap: 15px;
    padding: 0 10px;
}
.details_buttons button{
    background-color: transparent;
    color: white;
}